<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="sparkline12-list">
			<div class="sparkline12-hd">
				<div class="main-sparkline12-hd"></div>
			</div>
			<div class="sparkline12-graph">
				<div class="row">
					<div
						class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<div class="panel-group edu-custon-design " id="accordion2">
							<div class="panel panel-default ">
								<div class="panel-heading accordion-head">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2"
											href="#collapse2" class="collapsed" aria-expanded="true">
											Añadir nuevo alumno</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse panel-ic collapse in">
									<div class="panel-body admin-panel-content">
										<form id="form_nuevo_alumno" method="POST" onsubmit="return false;">
											<div class="form-group-inner">
												<div class="row">
													<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Nombre</label>
													</div>
													<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
														<input required type="text" class="form-control na-input"
															id="na_nombre" name="na_nombre">
													</div>
												</div>
											</div>
											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Apellidos</label>
													</div>
													<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
														<input required type="text" class="form-control na-input"
															id="na_apellidos" name="na_apellidos">
													</div>
												</div>
											</div>
											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Nº
															Matrícula</label>
													</div>
													<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
														<input required type="text" class="form-control na-input"
															id="na_nmat" name="na_nmat">
													</div>
												</div>
											</div>
											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
														<label class="login2 pull-right pull-right-pro">E-mail
															UPM</label>
													</div>
													<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
														<input required type="email" class="form-control na-input"
															id="na_email" name="na_email">
													</div>
												</div>
											</div>
											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Titulación</label>
													</div>
													<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
														<div>
															<select required class="na-input form-control custom-select-value"
																id="na_titulacion" placeholder="Seleccione"
																name="na_titulacion">
																<option value="1">GITI</option>
																<option value="2">GIQ</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div id="na_asignatura_grupos">
											</div>
											<div class="form-group-inner" id="modelo_alumno_asignatura">
												<div class="row">
													<div
														class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
														<select data-placeholder="Seleccione asignatura" 
															class="na-asignaturas na-input" tabindex="-1">

														</select>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div>
															<select class="na_grupo na-input" data-placeholder="Seleccione grupo" tabindex="-1"	>
																<option value="1">M1</option>
																<option value="2">M2</option>
																<option value="3">M3</option>
																<option value="4">T1</option>
																<option value="5">T2</option>
																<option value="6">T3</option>
																<option value="7">GIQ</option>
															</select>
														</div>
													</div>
												</div>
											</div>

											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-offset-7 col-md-7 col-sm-7 col-xs-12">
														<button class="btn btn-primary " type="button" id="na_add_asignatura">Añadir asignatura</button>


														<button class="btn btn-warning" type="reset" id="na-reset">Reiniciar</button>


														<button class="btn btn-success " type="submit">Enviar</button>

													</div>

												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading accordion-head">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2"
											href="#collapse5" class="collapsed" aria-expanded="false">
											Añadir desde fichero</a>
									</h4>
								</div>
								<div id="collapse5" class="panel-collapse panel-ic collapse"
									aria-expanded="false" style="height: 0px;">
									<div class="panel-body admin-panel-content">
										<div class="dropzone-pro">
											<div id="dropzone" class="multi-uploader-cs">
												<form action="/upload"
													class="dropzone dropzone-custom needsclick dz-clickable"
													id="cargar_alumnos">
													<div class="dz-message needsclick download-custom">
														<i class="fa fa-cloud-download" aria-hidden="true"></i>
														<h2>Depositar o seleccionar el archivo a cargar</h2>
														<p>
															<span class="note needsclick"> Puede subir aquí el
																fichero XML con los nuevos alumnos. Hasta 15 MB </span>
														</p>
													</div>
												</form>
											</div>
										</div>
										<div class="form-group-inner">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

													<button class="btn btn-success pull-right" type="submit">Enviar</button>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>