<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Asistencia Prácticas</title>
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <h2>{{ message }}</h2>
        <input v-model="matricula" placeholder="Introduce Nº de matricula"> </input> 
        <button v-on:click="fetchData">Buscar</button>
        <!-- <p> {{matricula}} </p> -->
        <table v-if="recibido" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Hora de Firma</th>
                    <th scope="col">IP del Ordenador</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in listado">
                    <th scope="row">{{item[0]}}</th>
                    <td>{{item[1]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="alumno.js"></script>
</body>

</html>