
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="sparkline12-list">
			<div class="sparkline12-hd">
				<div class="main-sparkline12-hd"></div>
			</div>
			<div class="sparkline12-graph">
				<div class="row">
					<div
						class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-1 col-xs-12">
						<div class="panel-group edu-custon-design " id="accordion2">
							<div class="panel panel-default ">
								<div class="panel-heading accordion-head">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2"
											href="#collapse2" class="collapsed" aria-expanded="true">
											Añadir nueva pregunta</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse panel-ic collapse in">
									<div class="panel-body admin-panel-content">
										<form id="form_nuevo_alumno" method="POST" onsubmit="return false;">
											<div class="form-group-inner">
												<div class="row">
													<div class=" col-lg-1 col-md-1 col-sm-1 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Asignatura</label>
													</div>
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<select required class="form-control na-input" id="np_asignatura" name="np_asignatura">
														<option selected value="1">Fundamentos de programación</option>
														</select>
													</div>
													<div class=" col-lg-1 col-md-1 col-sm-1 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Tema</label>
													</div>
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<select required class="form-control na-input" id="np_tema" name="np_tema">
														</select>
													</div>
													<div class=" col-lg-1 col-md-1 col-sm-1 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Dificultad</label>
													</div>
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<input required type="number" step="0.5" min="0" required class="form-control na-input" id="np_dif" name="np_dif" />
													</div>
												</div>
											</div>
											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Enunciado</label>
													</div>
													<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
														<textarea id="enunciado" class="CodeMirror" name="np_enunciado"></textarea>
													</div>											
													<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Enunciado código</label>
													</div>
													<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
														<textarea id="np_enu_codigo" class="CodeMirror" name="np_enu_codigo"></textarea>
													</div>
													<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
														<label class="login2 pull-right pull-right-pro">Programa corrector</label>
													</div>
													<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
														<textarea id="np_corrector" class="CodeMirror" name="np_corrector"></textarea>
													</div>
												</div>
											</div>
											
											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-offset-7 col-md-7 col-sm-7 col-xs-12">
														<button class="btn btn-primary " type="button" id="na_add_asignatura">Comprobar código</button>


														<button class="btn btn-warning" type="reset" id="na-reset">Reiniciar</button>


														<button class="btn btn-success " type="submit">Enviar</button>

													</div>

												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading accordion-head">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2"
											href="#collapse5" class="collapsed" aria-expanded="false">
											Añadir desde fichero</a>
									</h4>
								</div>
								<div id="collapse5" class="panel-collapse panel-ic collapse"
									aria-expanded="false" style="height: 0px;">
									<div class="panel-body admin-panel-content">
										<div class="dropzone-pro">
											<div id="dropzone" class="multi-uploader-cs">
												<form action="/upload"
													class="dropzone dropzone-custom needsclick dz-clickable"
													id="cargar_alumnos">
													<div class="dz-message needsclick download-custom">
														<i class="fa fa-cloud-download" aria-hidden="true"></i>
														<h2>Depositar o seleccionar el archivo a cargar</h2>
														<p>
															<span class="note needsclick"> Puede subir aquí el
																fichero XML con los nuevos alumnos. Hasta 15 MB </span>
														</p>
													</div>
												</form>
											</div>
										</div>
										<div class="form-group-inner">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

													<button class="btn btn-success pull-right" type="submit">Enviar</button>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>